@let products = (products$ | async)!;
@if (products){
    <h1>Products ({{products.length}})</h1>}

    <ul class="pill-group">
    @for (product of products |sort:"price"; track product.id; let i= $index) {
        <li class="pill" (click)="selectedProduct = product">{{i+1}}.
        @switch (product.category) {
        @case ('electronics') { ⌨️ }
        @case ('jewelery') { 💎 }
        @default { 🏷️ }
      }
      {{product.title}}
            </li> }
    
    @empty {
        <p>No products found!</p>
    }
    </ul>
    <app-product-detail 
    [id]="selectedProduct?.id" 
    (added)="onAdded()"
    (deleted)="selectedProduct = undefined"
    ></app-product-detail>
